<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is an implementaion of the "sample app" from Michael Hartl's <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a>
  
  
  </p>
  The major features of this website are:
  <ul>
    <li>Account creation</li>
    <li>Email Confirmation</li>
    <li>Dynamic Webpages</li>
    <li>Cookies and remembering browsers</li>
    <li>Posting text and images to a timeline</li>
    <li>Following and unfollowing users</li>
    <li>Server generated latin users and posts</li>
  </ul>
</p>