<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact Isamu Sherman regarding this website or bussiness enquiries by emailing <a href="mailto:tui43745@temple.edu">tui43745@gmail.com</a>
</p>